<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610054981518-3n39f0hnd1iqke632luhnqrie4dv2csv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610054981518-3n39f0hnd1iqke632luhnqrie4dv2csv</string>
	<key>API_KEY</key>
	<string>AIzaSyCTk2gBgcu4Is_ovVz2cTf23Zi86nddPBw</string>
	<key>GCM_SENDER_ID</key>
	<string>610054981518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myFlutterfire</string>
	<key>PROJECT_ID</key>
	<string>my-flutterfire-7365a</string>
	<key>STORAGE_BUCKET</key>
	<string>my-flutterfire-7365a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610054981518:ios:efd1c7a84a91b8ff5486df</string>
</dict>
</plist>